<div class="reasons__wrapper">
    <h2 class="reasons__title"></h2>
    <div class="reasons">
        <div class="reasons__cards-wrapper">
            <div class="reasons__card">
                <div class="reasons__card-img"><img src="assets/imgs/reasons01.png"></div>
                <p class="reasons__card-title">Поддержание качества воды</p>
            </div>
            <div class="reasons__card">
                <div class="reasons__card-img"><img src="assets/imgs/reasons02.png"></div>
                <p class="reasons__card-title">Поддержание красоты аквариума</p>
            </div>
            <div class="reasons__card">
                <div class="reasons__card-img"><img src="assets/imgs/reasons03.png"></div>
                <p class="reasons__card-title">Поддержание работоспособности оборудования</p>
            </div>
        </div>
    </div>
</div>