<div class="reasons__wrapper" id="reasonsabout">
    <h2 class="reasons__title">Зачем нужно обслуживать аквариум?</h2>
    <div class="reasons">
        <div class="reasons__cards-wrapper">
            <div class="reasons__card">
                <div class="reasons__card-inner-wrapper">
                    <div class="reasons__card-img"><img src="assets/imgs/reasons01.png"></div>
                    <p class="reasons__card-title">Поддержание качества воды</p>
                </div>
                <p class="reasons__description">Обязательные подмены воды и использование специальных наполнителей фильтров снижают уровень накапливающихся опасных соединений азота. Внесение удобрений для растений или микроэлементов для кораллов дает им возможность жить и полноценно
                    развиваться.
                </p>
            </div>
            <div class="reasons__card">
                <div class="reasons__card-inner-wrapper">
                    <div class="reasons__card-img"><img src="assets/imgs/reasons02.png"></div>
                    <p class="reasons__card-title">Поддержание красоты аквариума</p>
                </div>
                <div class="reasons__description">
                    <img src="assets/imgs/reasons-mainimg.png">
                </div>
            </div>
            <div class="reasons__card">
                <div class="reasons__card-inner-wrapper">
                    <div class="reasons__card-img"><img src="assets/imgs/reasons03.png"></div>
                    <p class="reasons__card-title">Поддержание работоспособности оборудования</p>
                </div>
                <p class="reasons__description">Настройка, регулировка, регламентное обслуживание поддерживающей аквариум техники, а так же плановая замена расходных материалов оборудования обеспечивают бесперебойное правильное функционирование системы.
                </p>
            </div>
        </div>
        <div class="reasons__description">

        </div>
    </div>
</div>