<div class="reviews__wrapper">
    <h1 class="reviews__title">Отзывы</h1>
    <div class="reviews">
        <div class="reviews__img">
            <img src="assets/imgs/reviews/reviewsimg.png">
        </div>
        <div class="reviews__card">
            <h3 class="reviews__card-title">
                Оценки
            </h3>
            <div class="reviews__card-overall">
                <div class="card__overall-stars">
                    <img src="assets/imgs/reviews/starfull.png">
                    <img src="assets/imgs/reviews/starfull.png">
                    <img src="assets/imgs/reviews/starfull.png">
                    <img src="assets/imgs/reviews/starfull.png">
                    <img src="assets/imgs/reviews/starhalf.png">
                </div>
                <p class="card__overall-title">49 оценок</p>
            </div>
            <div class="reviews__card-client">
                <div class="card__client-card">
                    <div class="client__card-name">
                        <div class="card__name-img"><img src="assets/imgs/reviews/client01.png"></div>
                        <div class="card__name-title">
                            <h3>Name Name</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>