.contacts__form {
    & input {
        border: 1px solid #BDBDBD;
        width: 100%;
        max-width: 497px;
        height: 65px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150.5%;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        /*or27px*/
        text-align: center;
        letter-spacing: 0.02em;
        color: #9E9C9C;
        &::placeholder {
            transition: all 350ms ease;
            padding-left: 0px;
            transform: translateX(3px);
            font-size: 18px;
            -webkit-transform: translateX(3px);
            -moz-transform: translateX(3px);
            -ms-transform: translateX(3px);
            -o-transform: translateX(3px);
            -webkit-transition: all 350ms ease;
            -moz-transition: all 350ms ease;
            -ms-transition: all 350ms ease;
            -o-transition: all 350ms ease;
        }
        &:focus {
            border: 1px solid #2187c7;
            transition: all 250ms ease;
            &::placeholder {
                padding-left: 5px;
                transition: all 350ms ease;
                transform: translateX(-150px);
                font-size: 18px;
                -webkit-transform: translateX(-150px);
                -moz-transform: translateX(-150px);
                -ms-transform: translateX(-150px);
                -o-transform: translateX(-150px);
                -webkit-transition: all 350ms ease;
                -moz-transition: all 350ms ease;
                -ms-transition: all 350ms ease;
                -o-transition: all 350ms ease;
            }
        }
        &:focus-visible {
            outline: none;
        }
    }
    & .smalltext {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150.5%;
        /* or 33px */
        text-align: justify;
        letter-spacing: 0.02em;
        color: #9E9C9C;
        margin-top: 25px;
    }
    & .smalltext2 {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 150.5%;
        /* or 33px */
        text-align: justify;
        letter-spacing: 0.02em;
        color: #181818;
        margin-top: 20px;
    }
    & .form__button-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        & .form__button-link {
            color: #9E9C9C;
            border-bottom: 1px solid rgba(#9E9C9C, 1);
            transition: all 250ms ease-in-out;
            -webkit-transition: all 250ms ease-in-out;
            -moz-transition: all 250ms ease-in-out;
            -ms-transition: all 250ms ease-in-out;
            -o-transition: all 250ms ease-in-out;
            &:hover {
                transition: all 250ms ease-in-out;
                -webkit-transition: all 250ms ease-in-out;
                -moz-transition: all 250ms ease-in-out;
                -ms-transition: all 250ms ease-in-out;
                -o-transition: all 250ms ease-in-out;
                cursor: pointer;
                color: #2187c7;
                border-bottom: 1px solid rgba(#2187c7, 1);
            }
        }
    }
}

.form__button-send {
    background: #282828;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    line-height: 153%;
    /*or34px*/
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 285px;
    height: 60px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    &:hover {
        cursor: pointer;
        background: #70b2eb;
        color: #fff;
        transition: all 250ms ease-in-out;
        -webkit-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
    }
}

.popUp {
    display: none;
    // position: fixed;
    // left: 50%;
    // transform: translate(-50%, 0);
    z-index: 9999;
    background: #EFFCF0;
    border-radius: 8px;
    width: 100%;
    max-width: 478px;
    max-height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid #d8fddb;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
}

.popUpVisible {
    display: flex;
    // position: fixed;
    // left: 50%;
    // transform: translate(-50%, 0);
    text-align: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: all 1000ms ease-in-out;
    // & img {
    //     width: 48px;
    //     height: 48px;
    //     margin-bottom: 10px;
    // }
}