.contacts__form {
    & input {
        border: 1px solid #BDBDBD;
        width: 100%;
        max-width: 497px;
        height: 65px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150.5%;
        /* or 27px */
        text-align: center;
        letter-spacing: 0.02em;
        color: #9E9C9C;
    }
}

.form__button-send {
    background: #282828;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    line-height: 153%;
    /*or34px*/
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 245px;
    height: 46px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    &:hover {
        cursor: pointer;
        background: #70b2eb;
        color: #fff;
        transition: all 250ms ease-in-out;
        -webkit-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
    }
}

.popUp {
    display: none;
    // position: fixed;
    // left: 50%;
    // transform: translate(-50%, 0);
    z-index: 9999;
    background: #EFFCF0;
    border-radius: 8px;
    width: 100%;
    max-width: 478px;
    max-height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid #d8fddb;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
}

.popUpVisible {
    display: flex;
    // position: fixed;
    // left: 50%;
    // transform: translate(-50%, 0);
    text-align: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: all 1000ms ease-in-out;
    // & img {
    //     width: 48px;
    //     height: 48px;
    //     margin-bottom: 10px;
    // }
}