<div class="about__wrapper">
  <h2 class="about__title">С заботой о вашем аквариуме.<br />Надолго.</h2>
  <div class="about">
    <div class="about__card">
      Более 200 довольных клиентов в крупных городах России!Ваш аквариум в
      надежных руках!
    </div>
    <div class="about__card-1">
      Более 14 лет опыта работы на рынке услуг по обслуживанию, установке и
      декорированию морских и пресноводных аквариумов.
    </div>
    <div class="about__card-2">
      80% Клиентов работают с нами более 5-ти лет!Вы останетесь довольны нашей
      работой!
    </div>
    <div class="about__card-3">
      5 собственных поставщиков только самого качественного оборудования по
      разумным ценам!
    </div>
  </div>
</div>
