<swiper [config]="config">
    <ng-template swiperSlide>
        <div class="hero__slider-wrapper">
            <div class="hero__slider">
                <div class="hero__slider-description">
                    <h1 class="slide__title">Обслуживание аквариумов в Санкт - Петербурге</h1>
                    <article class="slide__description">Комплексное обслуживание домашний и офисных аквариумов от 1900 рублей Стаж более 19-ти лет!</article>
                    <app-button-main [label]="'test'"></app-button-main>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide></ng-template>
    <ng-template swiperSlide></ng-template>
</swiper>