.primary {
    font-size: 16px;
    font-family: Nunito;
    color: #282828;
    width: 267px;
    height: 52px;
    background: linear-gradient(90deg, #92C3ED 0%, #B3C6E4 100%);
    border-radius: 8px;
    border: none;
    &:hover {
        cursor: pointer;
        background: linear-gradient(90deg, #82bbec 0%, #becce4 100%);
    }
}