.footer__wrapper {
  width: 100%;
  min-height: 70px;
  margin-top: 60px;
  padding-bottom: 30px;
  border-top: 5px solid #c7dbec;
  .footer {
    max-width: 1200px;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width: 728px) {
      flex-direction: column;
    }
    & .footer__nav {
      max-width: 284px;
      width: 100%;
      & ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        & li {
          margin-top: 10px;
        }
        & .footer__navigation-item a {
          text-decoration: none;
          color: #282828;
          transition: all 250ms ease-in-out;
          -webkit-transition: all 250ms ease-in-out;
          -moz-transition: all 250ms ease-in-out;
          -ms-transition: all 250ms ease-in-out;
          -o-transition: all 250ms ease-in-out;
          border-bottom: 1px solid rgba(255, 255, 255, 0);
          &:hover {
            color: #2187c7;
            border-bottom: 1px solid rgba(#2187c7, 1);
            cursor: pointer;
            transition: all 250ms ease-in-out;
            -webkit-transition: all 250ms ease-in-out;
            -moz-transition: all 250ms ease-in-out;
            -ms-transition: all 250ms ease-in-out;
            -o-transition: all 250ms ease-in-out;
          }
        }
      }
    }
    & .footer__contacts {
      max-width: 284px;
      width: 100%;
      display: flex;
      flex-direction: column;
      & ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        & li {
          margin-top: 10px;
        }
        & .footer__navigation-item a {
          text-decoration: none;
          color: #282828;
          transition: all 250ms ease-in-out;
          -webkit-transition: all 250ms ease-in-out;
          -moz-transition: all 250ms ease-in-out;
          -ms-transition: all 250ms ease-in-out;
          -o-transition: all 250ms ease-in-out;
          border-bottom: 1px solid rgba(255, 255, 255, 0);
          &:hover {
            color: #2187c7;
            border-bottom: 1px solid rgba(#2187c7, 1);
            cursor: pointer;
            transition: all 250ms ease-in-out;
            -webkit-transition: all 250ms ease-in-out;
            -moz-transition: all 250ms ease-in-out;
            -ms-transition: all 250ms ease-in-out;
            -o-transition: all 250ms ease-in-out;
          }
        }
      }
    }
  }
}
