.header__wrapper {
    width: 100%;
    min-height: 70px;
    border-top: 5px solid #C7DBEC;
    position: fixed;
    top: 0;
    z-index: 9999;
    // left: 50%;
    // transform: translateX(-50%);
    transition: all 250ms ease-in-out;
    &.filled {
        background: #fff;
        transition: all 250ms ease-in-out;
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    }
    &.sticky {
        position: fixed;
        transition: all 250ms ease-in-out;
        box-shadow: 0px 6px 12px rgb(214, 214, 214, .7);
        background: #fff;
        & .header {
            padding: unset;
            align-items: center;
            min-height: 80px;
            transition: all 250ms ease-in-out;
        }
    }
    .header {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        & .header__nav {
            max-width: 584px;
            width: 100%;
            & ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
            }
        }
    }
}