<div class="header__wrapper" [ngClass]="{ sticky: isSticky, filled: isFilled }">
  <div class="header">
    <div class="header__logo">
      <img
        class="header__logo-item"
        src="assets/imgs/logo.png"
        [routerLink]="['']"
      />
    </div>
    <div class="header__nav" *ngIf="!mobile">
      <ul>
        <li class="header__navigation-item">
          <a (click)="onClickScroll('main')">Главная</a>
        </li>
        <li class="header__navigation-item">
          <a (click)="onClickScroll('reasonsabout')">О нас</a>
        </li>
        <li class="header__navigation-item">
          <a (click)="onClickScroll('services')">Обслуживание</a>
        </li>
        <li class="header__navigation-item">
          <a (click)="onClickScroll('reviews')">Отзывы</a>
        </li>
        <li class="header__navigation-item">
          <a (click)="onClickScroll('tariffs')">Услуги</a>
        </li>
        <li class="header__navigation-item">
          <a (click)="onClickScroll('contacts')">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="header__contacts" *ngIf="!mobile">
      <app-button-secondary
        [label]="'+7 (931) 262-23-45'"
        [class]="'purple'"
      ></app-button-secondary>
    </div>
    <app-burger *ngIf="mobile"></app-burger>
  </div>
</div>
