<form
  class="request-contacts__form"
  method="post"
  action="https://formspree.io/f/xqkoloke"
>
  <div class="form__inputs">
    <div class="form__control">
      <input
        type="text"
        class="form__control-input"
        id="name"
        placeholder="Ваше имя"
        name="name"
      />
    </div>
    <div class="form__control">
      <input
        type="text"
        class="form__control-input"
        id="name"
        placeholder="Ваш телефон"
        name="phone"
      />
    </div>
    <!-- <app-datepicker></app-datepicker> -->
  </div>
  <div class="request-form__description-wrapper">
    <div class="button__wrapper">
      <button class="primary" type="submit">Отправить</button>
      <p class="private">Мы гарантируем безопасность ваших данных</p>
    </div>
  </div>
</form>
<div class="form__description">
  <h3 class="form__description-title">Или позвоните нам по телефону</h3>
  <!-- <a href="tel:+79312622345">+7 (931) 262-23-45</a> -->
  <app-button-secondary
    href="tel:+79312622345"
    [label]="'Позвонить Нам'"
    [class]="'purple centered'"
  ></app-button-secondary>
</div>
