<div class="faq__wrapper">

    <h2 class="faq__title">
        Ответы на вопросы
    </h2>
    <div class="faq">
        <div class="accordion__module">
            <app-faq-item title="Что входит в стоимость?">
                - Регулярная подмена части воды на свежую;<br> - Удаление мусора, остатков корма, отмерших частей растений, экскрементов рыб;<br> - Удаление загрязнений стенок и декораций;<br> - Контроль за состоянием рыб, при необходимости — лечение;<br>                - Уход за аквариумным оборудованием, контроль работы;<br> - При обслуживании пресноводного аквариума 4 раза в месяц - гарантия на численность рыб;<br> - В аквариуме с живыми растениями подстригание и черенкование растений, внесение удобрений;<br>                - Замена подлежащих регулярной замене или вышедших из строя элементов оборудования;<br>
            </app-faq-item>
            <app-faq-item title="Как часто надо обслуживать аквариум?">Частота обслуживания подбирается нашими сотрудниками индивидуально для каждого аквариума. Но в среднем достатачно 2-3 раза в месяц.
            </app-faq-item>
            <app-faq-item title="Есть ли у Вас консультации по телефону?">Конечно! Вы можете узнать все интересующие вопросы и уточнить детали по телефону в разделе контакты.
            </app-faq-item>
            <app-faq-item title="Можете перевести аквариум?">Да, конечно. Мы осуществляем перевозку любых аквариумов. Вы можете увидеть полный список услуг на соответствующей странице нашего сайта, в разделе "Услуги". Или, проконсультироваться по телефону. </app-faq-item>
        </div>
    </div>
</div>