<div class="services__wrapper">
    <div class="services__title">Тарифы на обслуживание</div>
    <div class="services">
        <div class="services__card color{{bgcolor}}" *ngFor="let service of services; index as bgcolor">
            <div class="card__description">
                <h3 class="servies__card-title">{{service.name}}</h3>
                <p class="servies__card-subtitle">{{service.description}}</p>
                <p class="servies__card-price">От <span class="price-font">{{service.fromPrice}}</span> рублей в месяц</p>
                <a class="services__card-price-link" [routerLink]="['price']">Все услуги <img src="assets/imgs/icons/Forward.png"></a>
            </div>
            <div class="card__image">
                <img src="{{service.image}}">
            </div>
        </div>
    </div>
</div>