.purple {
    font-size: 16px;
    font-family: Nunito;
    color: #282828;
    width: 267px;
    height: 52px;
    background: rgba(210, 172, 236, 0.37);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: none;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    &:hover {
        color: #fff;
        transition: all 250ms ease-in-out;
        -webkit-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
        cursor: pointer;
        background: rgba(182, 131, 218, 0.57);
    }
}

.centered {
    display: block;
    margin: 0 auto !important;
    text-decoration: none;
}