.specialoffers-wrapper {
    width: 100%;
    background: #C6D9EE;
    height: 80%;
}

.specialoffers_title {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Ubuntu';
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 40px;
}

.special__offers {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.special__offers-card {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translate(0, 20%);
    margin-top: 20px;
    padding: 60px;
    background: #FFFFFF;
    -webkit-transform: translate(0, 20%);
    -moz-transform: translate(0, 20%);
    -ms-transform: translate(0, 20%);
    -o-transform: translate(0, 20%);
}

.card__inner-wrapper {
    padding: 20px;
}

.special__offers-description {
    width: 100%;
    max-width: 500px;
    & .special__offers-title-1 {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;
        color: #282828;
    }
    & .special__offers-title-2 {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 69px;
        color: #282828;
        /* identical to box height */
    }
    & .special__offers-subtitle {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 150.5%;
        /* or 33px */
        text-align: justify;
        letter-spacing: 0.02em;
        margin-bottom: 120px;
        color: #9E9C9C;
    }
}