<div class="tariffs__wrapper">
    <h2 class="tariffs__title">Услуги</h2>
    <div class="tariffs">
        <swiper [slidesPerView]="2.5" [centeredSlides]="false" [spaceBetween]="30" [pagination]="{
            clickable: true
          }">
            <ng-template swiperSlide *ngFor="let service of service; index as bgcolor">
                <div class="service__card">
                    <figure class="card__image">
                        <img class="card__image" [src]="service.image" (load)="service.imageLoaded = true" [alt]="service.name" />
                    </figure>
                    <h3 class="card__title">{{ service.name }}</h3>
                    <p class="card__subtitle" title="{{ service.description }}">
                        {{ service.description!.length > 120 ? (service.description | slice: 0:120) + "..." : service.description }}
                    </p>
                    <div class="card__info">
                        <div class="card__info-price"><span class="strikethrough">{{
                      service.price! * 1.2 | currency: "RUB ":"symbol":"1.0"
                      }}</span>
                            <span class="card__info-price-item">От <span class="price-item">{{
                                service.price | currency: "RUB ":"symbol":"1.0"
                                }}</span></span>
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <app-button-main [label]="'Вызвать специалиста'" [class]="'primary'"></app-button-main>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>

</div>