<link
  href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap"
  rel="stylesheet"
/>

<div class="gallery">
  <div class="gallery__column">
    <a class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="assets/imgs/gallery/111.png"
          alt="Portrait by Jessica Felicio"
          class="gallery__image"
        />
        <figcaption class="gallery__caption"></figcaption>
      </figure>
    </a>

    <a class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="assets/imgs/gallery/222.png"
          alt="Portrait by Oladimeji Odunsi"
          class="gallery__image"
        />
        <figcaption class="gallery__caption"></figcaption>
      </figure>
    </a>

    <a class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="assets/imgs/gallery/333.png"
          alt="Portrait by Alex Perez"
          class="gallery__image"
        />
        <figcaption class="gallery__caption"></figcaption>
      </figure>
    </a>
  </div>

  <div class="gallery__column">
    <a class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="assets/imgs/gallery/444.png"
          alt="Portrait by Noah Buscher"
          class="gallery__image"
        />
        <figcaption class="gallery__caption"></figcaption>
      </figure>
    </a>

    <a class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="assets/imgs/gallery/555.png"
          alt="Portrait by Ivana Cajina"
          class="gallery__image"
        />
        <figcaption class="gallery__caption"></figcaption>
      </figure>
    </a>

    <a class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="assets/imgs/gallery/666.png"
          alt="Portrait by Sam Burriss"
          class="gallery__image"
        />
        <figcaption class="gallery__caption"></figcaption>
      </figure>
    </a>
  </div>

  <div class="gallery__column">
    <a class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="assets/imgs/gallery/777.png"
          alt="Portrait by Mari Lezhava"
          class="gallery__image"
        />
        <figcaption class="gallery__caption"></figcaption>
      </figure>
    </a>

    <a class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="assets/imgs/gallery/888.png"
          alt="Portrait by Ethan Haddox"
          class="gallery__image"
        />
        <figcaption class="gallery__caption"></figcaption>
      </figure>
    </a>

    <a class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="assets/imgs/gallery/999.png"
          alt="Portrait by Amir Geshani"
          class="gallery__image"
        />
        <figcaption class="gallery__caption"></figcaption>
      </figure>
    </a>
  </div>
</div>
