<div class="contacts__wrapper">
    <div class="contacts">
        <h2 class="contacts__title">Заявка на обслуживание</h2>
        <h3 class="contacts__subtitle">Перезвоним за 15 минут!</h3>
        <form class="contacts__form">
            <div class="form__control">
                <label for="name">Ваше имя</label>
                <input type="text" class="form__control-input" id="name">
            </div>
            <div class="form__control">
                <label for="name">Ваш телефон</label>
                <input type="text" class="form__control-input" id="name">
            </div>
            <app-datepicker></app-datepicker>
        </form>
    </div>
</div>